body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}
.menuBar{
  width: 600px;
  height: 140px;
  background-color: #DBDCE6;
}
.btn{
  height: 140px;
  width: 180px;
  font-size: 35px;
  margin-left: -30px;
  background-color: #DBDCE6;
  border: none;
}
.dtn{
  height: 0px;
  width: 0px;
  font-size: 35px;
  margin-left: -100px;
  background-color: #DBDCE6;
  border: none;
}
.name{
  margin-top: -100px;
  margin-left: 130px;
  font-size: 45px;
}
.color{
  color: #7a72ff;
}
.post {
  width: 522px;
  padding: 15px;
  margin-top: -70px;
  margin-left: 4px;
  border: 1px solid #ffd900;
  border-radius:20px 20px 55px  55px;
  background-color: #ffd602;
  margin-bottom: 30px;
  overflow: hidden;
  height: 65px;
  transition: height 0.4s ease transform 0.4s ease;
  transform-origin: top center;
  font-size: 23px;
}
.post.expanded {
  height: auto;
  transform: translateY(20px);
}
.see-more-btn {
  color: white;
  cursor: pointer none;
  width: 555px;
  height: 180px;
  font-weight: bold;
  border: 3px solid #ffd602;
  background:linear-gradient(to right, #0c5387,#588fc5);
  padding: 0;
  margin-top: 20px;
  border-radius: 55px;
  transition: height 0.5s;
  z-index: 3;
  margin-left: 4px;
  font-size: 30px;
}
.see-more-btn.shrink {
  height: 80px;
  border-radius: 50px;
  font-size: 27px;
}
.see-more-btn:focus {
  outline: none;
}
.post p {
  margin: 0;
  margin-top:50px;
  text-align: center;
  width: auto;
}
.button-container {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F3F3F3;
  width: 600px;
}
.section1{
  background-image: url(pic1.jpg);
  background-size: cover;
  height: 1200px;
  width: 600px;
  margin: 0;
}
.section2{
  overflow-x: scroll;
  white-space: nowrap;
  background-image: url(pic2.jpg);
  width: 600px;
  height: 1120px;
  margin: 0;
}
.secscr div{
  margin-top: 450px;
  display: inline-block;
  height: 410px;
  margin-left: 20px;
  width: 270px;
  background-color: #1C043B8C;
  border-radius:50px 50px 170px 50px;
}
.footer{
  background: #1F2A34;
  height:600px;
  width: 600px;
  margin: 0;
}
.location{
  width:590px;
  height: 450px;
  margin-left : 5px;
  margin-top: 170px;
  align-items: center;
}
.locBtn{
  height: 90px;
  width: 400px;
  margin-top: 0px;
  margin: 0 auto;
  display: block;
  background: black;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border:none;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}
.loct{
  font-size: 25px;
  text-align: center;
}
.scrcon{
  width:580px; 
  height: 550px;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 10px;
  background :none;
}
.scritem img{
  display: inline-block;
  height: 510px;
  width:350px;
  margin-top: 8px;
  margin-left: 3px;
  margin-right: 5px;
  border-radius:50px 50px 50px 50px;
  background: #1C043B8C;
  border: none;
}
.hmm{
  width: 500px;
  height: 500px;
  border-radius: 300px;
  background: #3440B1B0;
  margin: 0 auto;
  display: block;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.content {
  opacity: 0;
  transform: translateY(300px);
  transition: opacity 1.5s, transform 1s;
}
.content.show {
  opacity: 1;
  transform: translateY(0);
}
.imu5{
  margin-right: 20px;
}
